:root {
  --gap-small: 0.2em;
  --gap-medium: 0.4em;
  --gap-large: 0.6em;
  --gap-extra-large: 0.8em;

  --size-extra-small: 4px;
  --size-small: 8px;
  --size-medium: 16px;
  --size-large: 32px;
  --size-extra-large: 64px;

  --color-link: hsl(217, 71%, 53%);
  --color-white: hsl(0, 0%, 100%);

  --main-bg-color: #e6ecf0;
}

.mt-2 {
  margin-top: var(--size-large);
}

.pt-1 {
  padding-top: var(--size-extra-large);
}

.pt-2 {
  padding-top: var(--size-large);
}

.pt-3 {
  padding-top: var(--size-medium);
}

.pt-4 {
  padding-top: var(--size-small);
}

.pt-5 {
  padding-top: var(--size-extra-small);
}

.py-1 {
  padding-top: var(--size-extra-large);
  padding-bottom: var(--size-extra-large);
}

.py-2 {
  padding-top: var(--size-large);
  padding-bottom: var(--size-large);
}

.py-3 {
  padding-top: var(--size-medium);
  padding-bottom: var(--size-medium);
}

.py-4 {
  padding-top: var(--size-small);
  padding-bottom: var(--size-small);
}

.py-5 {
  padding-top: var(--size-extra-small);
  padding-bottom: var(--size-extra-small);
}

.px-1 {
  padding-left: var(--size-extra-large);
  padding-right: var(--size-extra-large);
}

.px-2 {
  padding-left: var(--size-large);
  padding-right: var(--size-large);
}

.px-3 {
  padding-left: var(--size-medium);
  padding-right: var(--size-medium);
}

.px-4 {
  padding-left: var(--size-small);
  padding-right: var(--size-small);
}

.px-5 {
  padding-left: var(--size-extra-small);
  padding-right: var(--size-extra-small);
}

.main {
  height: 100vh;
  background-color: var(--main-bg-color);
  box-sizing: border-box;
}

.block {
  padding: var(--size-small);
  box-sizing: border-box;
}

.box {
  min-width: 200px;
  min-height: 100px;
  background-color: var(--color-white);
  align-self: start;
}

.container {
  display: flex;
  column-gap: var(--gap-extra-large);
}

.tags {
  display: flex;
  flex-direction: row;
  column-gap: var(--gap-medium);
}

.social {
  display: flex;
  flex-direction: column;
}

.social .control {
  display: flex;
  column-gap: var(--gap-medium);
}

.avatar {
  display: flex;
  align-items: center;
  column-gap: var(--gap-medium);
}

.avatar > img {
  display: inline-block;
  max-height: 60px;
  max-width: 60px;
  border-radius: 50px;
}

.avatar > p > span {
  display: block;
}

.card figure img {
  max-width: 600px;
  max-height: 400px;
  width: 600px;
  height: 400px;
}

.nav {
  display: flex;
  flex-direction: row;
  background-color: var(--color-link);
  color: var(--color-white);
}

.nav .brand {
  flex-grow: 2;
}
