@font-face {
  font-family: "Quicksand", "sans serif";
  src: URL("../fonts/static/Quicksand-Regular.ttf"), local("Quicksand Regular");
}

*,
*:before,
*:after,
*:focus {
  box-sizing: inherit;
  outline: none;
}

html {
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg-color);
  font-size: var(--size-medium);
}

.title {
  font-size: var(--size-extra-large);
  line-height: 2;
}

.subtitle {
  font-size: var(--size-larger);
  line-height: 1.5;
}

.navbar {
  top: 0;
  left: 0;
  position: fixed;
  overflow: hidden;
  right: 0;
  width: 100%;
}

.navbar > .container {
  align-items: center;
  color: var(--color-white);
  justify-content: space-around;
}

.section {
  display: flex;
  flex-direction: column;
  row-gap: var(--size-medium);
}

.search {
  display: flex;
  flex-direction: row;
  column-gap: var(--size-medium);
}

.search .control {
  display: flex;
  column-gap: var(--size-medium);
  flex-grow: 1;
  align-items: center;
}

.search .control > .input {
  border-width: 0 0 1px 0;
  border-color: var(--color-black);
  outline: 0;
  padding: var(--size-normal) 0;
}

.filter {
  display: flex;
  column-gap: var(--size-medium);
  justify-content: space-between;
}

.filter > .control {
  display: flex;
  column-gap: var(--size-medium);
  align-items: center;
}

.avatar {
  display: flex;
  column-gap: var(--size-medium);
  align-items: center;
}

.avatar > img {
  border-radius: 50px;
  height: 50px;
  width: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  row-gap: var(--size-medium);
}

.footer {
  display: flex;
  flex-direction: column;
  row-gap: var(--size-medium);
}

.footer > .control {
  display: flex;
  column-gap: var(--size-medium);
}

.footer > .views > hr {
  background-color: var(--color-grey-lighter);
  color: var(--color-grey-lighter);
  border-width: 1px;
  size: 1px;
}

.box {
  border-radius: 5px;
  box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
}

.box.banner-container {
  border-radius: 5px 5px 0 0;
}

.banner-container figure.banner {
  max-width: 300px;
  padding: 0;
  margin: 0;
  border: 0;
}

.policy {
  row-gap: var(--size-medium);
}

.policy .social {
  column-gap: var(--size-normal);
  flex-wrap: wrap;
}

.main {
  justify-content: center;
  column-gap: var(--size-larger);
}

.main > .aside .aside-content,
.main > .aside .aside-fixed {
  max-width: 300px;
  min-height: 64px;
  width: 300px;
}

.main > .aside .aside-fixed {
  position: fixed;
}

.main > .aside .aside-content,
.main > .aside .aside-fixed {
  row-gap: var(--size-medium);
}

.aside .tag,
.aside .link {
  text-decoration: none;
}

.nav-items {
  column-gap: var(--size-normal);
}

.nav-items .nav-item {
  background-color: #fff;
  display: inline-block;
  min-width: 64px;
  text-align: center;
}

.form .control {
  align-items: flex-start;
  justify-content: start;
  column-gap: var(--size-larger);
}

.form .control .close {
  align-self: flex-end;
}

.form .control .label {
  flex-grow: 1;
  text-align: right;
  min-width: 100px;
  align-self: center;
}

.form .control .input {
  min-width: 300px;
  align-self: center;
}

.form .control.buttons {
  justify-content: flex-end;
}

.form .control.header {
  align-items: center;
}

.search .form .control .input {
  border-width: 0 0 1px 0;
}

.form .control.right-control {
  justify-content: flex-end;
}

.is-disable {
  border: 0;
  opacity: 0.5;
  cursor: not-allowed;
}

.brand .subtitle a {
  text-decoration: none;
  color: var(--color-white);
}

.btn {
  border: 0;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.btn.is-cancel {
  border: 0;
  background-color: transparent;
  color: #aaa;
}

.btn.is-cancel:hover {
  color: var(--color-black);
}

.modal-close.close {
  background-color: transparent;
  border: unset;
  box-shadow: unset;
  text-align: right;
}

.btn.modal-close.close:hover {
  border: 1px var(--color-black);
  border-radius: 2px;
}

.error {
  color: var(--color-danger);
  line-height: 1.5em;
}

.field .input {
  border: unset;
}

.input-container {
  width: 400px;
}

.input-container.control .field {
  border-radius: 5px;
}

.input-container.control .field .legend + .input {
  align-self: stretch;
}

.input-container.control .field > .error {
  min-height: 24px;
  text-transform: capitalize;
  text-overflow: ellipsis;
}

.success,
.failure {
  height: 400px;
  width: 400px;
  align-items: center;
  justify-content: center;
  row-gap: var(--size-medium);
}

.success .close,
.failure .close {
  border: 1px solid var(--color-grey);
  color: var(--color-grey);
  width: 100px;
  text-align: center;
  border-radius: 20px;
  text-transform: lowercase;
}

.success .close:hover,
.failure .close:hover {
  border: 1px solid var(--color-black);
  color: var(--color-black);
}

.success .subtitle,
.failure .subtitle {
  font-size: var(--size-large);
}

.success .subtitle {
  color: var(--color-success);
}

.failure .subtitle {
  color: var(--color-danger);
}

.tags {
  row-gap: var(--size-small);
  display: flex;
  column-gap: var(--size-normal);
  color: var(--color-link-light);
  flex-wrap: wrap;
  margin-top: calc(var(--size-normal) * -1);
  width: 400px;
}

.post__tags {
  align-items: center;
  color: var(--color-link-light);
  justify-content: center;
  min-height: 32px;
}

.post__tags .tag__item {
  border: 1px solid var(--color-link);
  border-radius: 10px;
  display: inline-flex;
  column-gap: 2px;
  font-size: 14px;
  line-height: 1.2em;
  min-width: 60px;
  text-transform: lowercase;
  align-items: center;
  justify-content: flex-end;
  padding: 1px;
}

.post__tags .tag__item__hash,
.post__tags .tag__item__text,
.post__tags .tag__item__btn {
  flex-grow: 1;
  display: inline-block;
}

.post__tags .tag__item__hash,
.post__tags .tag__item__btn {
  background-color: var(--color-link);
  border-radius: 10px;
  width: 1.2em;
  color: var(--color-white);
  padding: 1px;
  text-align: center;
}

.post__tags .tag__item__btn {
  cursor: pointer;
}

.post__tags .tag__item__btn:hover {
  background-color: var(--color-link-light);
}

.post__tags .tag__control {
  border-radius: 5px;
  overflow: hidden;
}

.post__tags .tag__input,
.post__tags .tag__input:focus {
  border: 0;
}

.post__tags .tag__input:focus {
  border: 0;
}

.cards {
  row-gap: var(--size-medium);
}

.header .header__content {
  align-items: flex-start;
  justify-content: flex-start;
}

.header__content .subtitle {
  font-size: calc(var(--size-medium) + 4px);
  font-weight: bold;
}

.modal-window .comment h1 {
  font-size: var(--size-medium);
}

.modal-window .comment textarea {
  border-color: var(--color-grey-light);
  border-radius: 5px;
  padding: var(--size-normal);
  font-size: var(--size-medium);
}

.modal-window .comment textarea:focus {
  border: 2px solid var(--color-link);
}

.modal-window .comment .control {
  justify-content: flex-end;
  column-gap: var(--size-medium);
}

.modal-window .comment .control .btn {
  text-transform: uppercase;
}

@media (width: 768px) {
}
