@font-face {
  font-family: "Quicksand";
  src: URL("../fonts/static/Quicksand-Regular.ttf"), local("Quicksand Regular");
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg-color);
}

.title {
  font-size: var(--size-extra-large);
  line-height: 2;
}

.subtitle {
  font-size: var(--size-large);
  line-height: 1.5;
}

.navbar {
  top: 0;
  left: 0;
  position: fixed;
  overflow: hidden;
  right: 0;
  width: 100%;
}

.navbar > .container {
  align-items: center;
  color: var(--color-white);
  justify-content: space-around;
}

.section {
  display: flex;
  flex-direction: column;
  row-gap: var(--size-medium);
}

.search {
  display: flex;
  flex-direction: row;
  column-gap: var(--size-medium);
}

.search .control {
  display: flex;
  column-gap: var(--size-medium);
  flex-grow: 1;
  align-items: center;
}

.search .control > .input {
  border-width: 0 0 1px 0;
  border-color: var(--color-black);
  outline: 0;
  padding: var(--size-normal) 0;
}

.filter {
  display: flex;
  column-gap: var(--size-medium);
  justify-content: space-between;
}

.filter > .control {
  display: flex;
  column-gap: var(--size-medium);
  align-items: center;
}

.avatar {
  display: flex;
  column-gap: var(--size-medium);
  align-items: center;
}

.avatar > img {
  border-radius: 50px;
  height: 50px;
  width: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  row-gap: var(--size-medium);
}

.tags {
  display: flex;
  column-gap: var(--size-normal);
  margin-top: calc(var(--size-normal) * -1);
}

.footer {
  display: flex;
  flex-direction: column;
  row-gap: var(--size-medium);
}

.footer > .control {
  display: flex;
  column-gap: var(--size-medium);
}

.footer > .views > hr {
  background-color: var(--color-grey-lighter);
  color: var(--color-grey-lighter);
  border-width: 1px;
  size: 1px;
}

.box {
  border-radius: 5px;
  box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
}

.box.banner-container {
  border-radius: 5px 5px 0 0;
}

.banner-container figure.banner {
  max-width: 300px;
  padding: 0;
  margin: 0;
  border: 0;
}

.policy {
  row-gap: var(--size-medium);
}

.policy .social {
  column-gap: var(--size-normal);
  flex-wrap: wrap;
}

.main {
  justify-content: center;
  column-gap: var(--size-large);
}

.main > .aside .aside-content,
.main > .aside .aside-fixed {
  max-width: 300px;
  min-height: 64px;
  width: 300px;
}

.main > .aside .aside-fixed {
  position: fixed;
}

.main > .aside .aside-content,
.main > .aside .aside-fixed {
  row-gap: var(--size-medium);
}

.aside .tag,
.aside .link {
  text-decoration: none;
}

.btn {
  text-decoration: none;
}

.nav-items {
  column-gap: var(--size-normal);
}

.nav-items .nav-item {
  background-color: #fff;
  display: inline-block;
  min-width: 64px;
  text-align: center;
}

.form .control {
  align-items: flex-start;
  justify-content: start;
  column-gap: var(--size-large);
  font-size: var(--size-medium);
}

.form .control .close {
  align-self: flex-end;
}

.form .control .label {
  flex-grow: 1;
  text-align: right;
  min-width: 100px;
  align-self: center;
}

.form .control .input {
  min-width: 300px;
  align-self: center;
  padding: var(--size-small);
  border-width: 0 0 1px 0;
}

.form .control.buttons {
  justify-content: flex-end;
}

.form .control.header {
  align-items: center;
}

.btn {
  border: 0;
  border-radius: 2px;
  box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
}

.btn.is-cancel {
  border: 0;
  background-color: transparent;
  color: #aaa;
}

.btn.is-cancel:hover {
  color: var(--color-black);
}

.form .control.right-control {
  justify-content: flex-end;
}

.is-disable {
  border: 0;
  opacity: 0.5;
  cursor: not-allowed;
}

.brand .subtitle a {
  text-decoration: none;
  color: var(--color-white);
}

.btn.modal-close.close {
  background-color: transparent;
  border: unset;
  box-shadow: unset;
}

.btn.modal-close.close:hover {
  border: 1px var(--color-black);
  border-radius: 2px;
}

.error {
  color: var(--color-danger);
}

@media (width: 768px) {
}
