:root {
  --gap-extra-small: 0.2;
  --gap-small: 0.4em;
  --gap-medium: 0.6em;
  --gap-large: 0.8em;
  --gap-extra-large: 1em;

  --size-extra-small: 2px;
  --size-small: 4px;
  --size-normal: 8px;
  --size-medium: 16px;
  --size-large: 24px;
  --size-larger: 32px;
  --size-extra-large: 64px;

  --color-link: hsl(217, 71%, 53%);
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 4%);
  --color-primary: hsl(171, 100%, 41%);
  --color-primary-dark: hsl(171, 100%, 29%);
  --color-warning: hsl(48, 100%, 67%);
  --color-danger: hsl(348, 100%, 61%);
  --color-success: hsl(141, 71%, 48%);
  --color-info: hsl(204, 86%, 53%);
  --color-light: hsl(0, 0%, 96%);
  --color-grey: hsl(0, 0%, 48%);
  --color-grey-light: hsl(0, 0%, 71%);
  --color-grey-lighter: hsl(0, 0%, 86%);

  --main-bg-color: #e6ecf0;
  --error-color: rgba(255, 128, 128, 1);
}

.size-ex-small {
  font-size: var(--size-extra-small);
}

.size-small {
  font-size: var(--size-small);
}

.size-normal {
  font-size: var(--size-normal);
}

.size-medium {
  font-size: var(--size-medium);
}

.size-large {
  font-size: var(--size-large);
}

.size-larger {
  font-size: var(--size-larger);
}

.size-ex-large {
  font-size: var(--size-extra-large);
}

.mb-1 {
  margin-bottom: var(--size-extra-large);
}

.mb-2 {
  margin-bottom: var(--size-larger);
}

.mb-3 {
  margin-bottom: var(--size-medium);
}

.mb-4 {
  margin-bottom: var(--size-normal);
}

.mb-5 {
  margin-bottom: var(--size-small);
}

.mb-6 {
  margin-bottom: var(--size-extra-small);
}

.mt-1 {
  margin-top: var(--size-extra-large);
}

.mt-2 {
  margin-top: var(--size-larger);
}

.mt-3 {
  margin-top: var(--size-medium);
}

.mt-4 {
  margin-top: var(--size-normal);
}

.mt-5 {
  margin-top: var(--size-small);
}

.mt-6 {
  margin-top: var(--size-extra-small);
}

.my-1 {
  margin-top: var(--size-extra-large);
  margin-bottom: var(--size-extra-large);
}

.my-2 {
  margin-top: var(--size-larger);
  margin-bottom: var(--size-larger);
}

.my-3 {
  margin-top: var(--size-medium);
  margin-bottom: var(--size-medium);
}

.my-4 {
  margin-top: var(--size-normal);
  margin-bottom: var(--size-normal);
}

.my-5 {
  margin-top: var(--size-small);
  margin-bottom: var(--size-small);
}

.my-6 {
  margin-top: var(--size-extra-small);
  margin-bottom: var(--size-extra-small);
}

.mx-1 {
  margin-left: var(--size-extra-large);
  margin-right: var(--size-extra-large);
}

.mx-2 {
  margin-left: var(--size-larger);
  margin-right: var(--size-larger);
}

.mx-3 {
  margin-left: var(--size-medium);
  margin-right: var(--size-medium);
}

.mx-4 {
  margin-left: var(--size-normal);
  margin-right: var(--size-normal);
}

.mx-5 {
  margin-left: var(--size-small);
  margin-right: var(--size-small);
}

.mx-6 {
  margin-left: var(--size-extra-small);
  margin-right: var(--size-extra-small);
}

.pb-1 {
  padding-bottom: var(--size-extra-large);
}

.pb-2 {
  padding-bottom: var(--size-larger);
}

.pb-3 {
  padding-bottom: var(--size-medium);
}

.pb-4 {
  padding-bottom: var(--size-normal);
}

.pb-5 {
  padding-bottom: var(--size-small);
}

.pb-6 {
  padding-bottom: var(--size-extra-small);
}

.pt-1 {
  padding-top: var(--size-extra-large);
}

.pt-2 {
  padding-top: var(--size-larger);
}

.pt-3 {
  padding-top: var(--size-medium);
}

.pt-4 {
  padding-top: var(--size-normal);
}

.pt-5 {
  padding-top: var(--size-small);
}

.pt-6 {
  padding-top: var(--size-extra-small);
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.py-1 {
  padding-top: var(--size-extra-large);
  padding-bottom: var(--size-extra-large);
}

.py-2 {
  padding-top: var(--size-larger);
  padding-bottom: var(--size-larger);
}

.py-3 {
  padding-top: var(--size-medium);
  padding-bottom: var(--size-medium);
}

.py-4 {
  padding-top: var(--size-normal);
  padding-bottom: var(--size-normal);
}

.py-5 {
  padding-top: var(--size-small);
  padding-bottom: var(--size-small);
}

.py-6 {
  padding-top: var(--size-extra-small);
  padding-bottom: var(--size-extra-small);
}

.px-1 {
  padding-left: var(--size-extra-large);
  padding-right: var(--size-extra-large);
}

.px-2 {
  padding-left: var(--size-larger);
  padding-right: var(--size-larger);
}

.px-3 {
  padding-left: var(--size-medium);
  padding-right: var(--size-medium);
}

.px-4 {
  padding-left: var(--size-normal);
  padding-right: var(--size-normal);
}

.px-5 {
  padding-left: var(--size-small);
  padding-right: var(--size-small);
}

.px-6 {
  padding-left: var(--size-extra-small);
  padding-right: var(--size-extra-small);
}

.is-primary {
  background-color: var(--color-primary);
}

.is-warning {
  background-color: var(--color-warning);
}

.is-white {
  background-color: var(--color-white);
}

.is-hidden {
  display: none;
}

.is-not-visible {
  visibility: hidden;
}

.has-color-primary {
  color: var(--color-primary);
}

.has-color-black {
  color: var(--color-black);
}

.has-color-link {
  color: var(--color-link);
}

.has-color-white {
  color: var(--color-white);
}

.has-color-grey {
  color: var(--color-grey);
}

.has-color-grey-light {
  color: var(--color-grey-light);
}

.has-color-grey-lighter {
  color: var(--color-grey-lighter);
}

.has-background-link {
  background-color: var(--color-link);
}

.has-background-white {
  background-color: var(--color-white);
}

.is-flex {
  display: flex;
}

.flex-grow {
  flex-grow: 1;
}

.flex-start {
  align-self: flex-start;
}

.flex-end {
  align-self: flex-start;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-flow: row wrap;
  column-gap: var(--size-normal);
  row-gap: var(--size-normal);
}

.no-gap {
  column-gap: 0;
  row-gap: 0;
}
